@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #0560c5;
    --secondary-color: #03affc;
    --background-color: #fbfefe;
    --nav-background-color: #011324;
    --nav-link-color: #0560c5;
    --nav-hover-link-color: #03affc;
    --nav-hover-background-color: #fbfefe;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

h1 {
    text-align: center;
    margin-top: 1em;
}

p {
    padding: 25px;
    color: var(--secondary-color); /* Make sure it's readable */
}

.flex {
    font-size: 1.2rem;
    display: flex;
    grid-column: 2 / 4;
}

.flex ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex ul li a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

.grid {
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 20px;
}

header nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

header nav a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);
}

.grid-4 {
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 20px; 
}

.sociallinks {
    grid-column: 3 / 4;
}

.call-to-action {
    text-align: center;
}

.call-to-action a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Create a responsive grid with columns min 300px wide, auto-fit to container */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-column {
    padding: 10px;
    text-align: center;
}
  
.flex-column p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.15rem;
    color: var(--primary-color);
    font-weight: bold;
}
  
.flex-column img {
    max-width: 100%;
    height: auto;
}

.grid-item {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.content {
    padding: 20px;
}

.content h2 {
    margin-top: 0;
}

.content p {
    color: #555;
}

.flex-newsletter {
    display: flex;
}